@media all and (max-width: 950px) {
   .apiCreditHeader{
      height:6.5% !important;
   }
   .themeSlider{
      width:10% !important;
      margin-right:85% !important;
  }
  #themeButton{
      width:3vw !important;
      height:3vw !important;
      border-radius:15vw !important;
  }
   .creditContainer{
      width: 100% !important;
      font-size: 0.8rem !important;
   }
   .omwImgLink{
      width:10vw !important;
      height:10vw !important;
   }
    .conditionContainer{
      width:100% !important;
      border-radius:0 !important;
      height:12% !important;
   }
   .cpHolder{
      width: 5vh !important;
      height: 5vh !important;
   }
   .weatherConditionsData1{
      width:20% !important;
      font-size:0.8em !important;
   }
   .weatherConditionsData2{
      width:30% !important;
      font-size:0.6em !important;
   }
   .searchContainer{
      width:100% !important;
      margin-top:5% !important;
      margin-bottom:5% !important;
   }
   .dataContainer{
      width:100% !important;
      margin-top:auto !important;
      margin-bottom:auto !important;
   }
   .secLogo{
      width:5vw !important;
      height:100% !important;
   }
   .tempSection{
      font-size:0.6rem !important;
   }  
   .totalTempContainer{
      flex-direction: column !important;
      justify-content:center !important;
      align-items:center !important;
   }
   .tempConditionUpdate{
      width: 10vw !important;
      height: 10vw !important;
      margin-left:auto !important;
      margin-right:auto !important;
      margin-top:10% !important;
      margin-bottom:5% !important;
   }
   .tempContainer{
      margin-left:auto !important;
      margin-right:auto !important;
   }
}
